$body-font-family: 'Barlow', 'serif';
$body-font-family-condensed: 'Barlow Semi Condensed', 'serif';
$heading-font-family: 'Nothing You Could Do', 'serif';

$grid-size: 1264px;
$padding-mini: 20px;
$padding-small: 40px;
$padding-wide: 80px;

$colors-font: #313131;
$colors-primary: #198536;
$colors-stroke: #C4D4C8;
$colors-background: #F4F9F3;
$colors-success: #00944C;
$colors-error: #FF3415;
$colors-warning: #FD9B09;

$spacer: 4px;
$transition-ease-out: all .2s ease-in-out;

$menu-content-border-radius: 28px;