$body-font-family: 'Barlow', 'serif';
$body-font-family-condensed: 'Barlow Semi Condensed', 'serif';
$heading-font-family: 'Nothing You Could Do', 'serif';

$grid-size: 1264px;
$padding-mini: 20px;
$padding-small: 40px;
$padding-wide: 80px;

$colors-font: #313131;
$colors-primary: #198536;

$spacer: 4px;
$transition-ease-out: all .2s ease-in-out;

$menu-content-border-radius: 28px;