@use '@/assets/globals.scss' as *;

:root {
  --toastify-color-success: #{$colors-success} !important;
  --toastify-color-error: #{$colors-error} !important;
  --toastify-toast-width: auto !important;
}


.v-container.constrained {
  max-width: $grid-size;
}

.v-theme--light.v-application {
  color: $colors-font
}
.v-application ol,
.v-application ul {
  padding-left: 30px;
}

.padding-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-mini {
  padding-top: $padding-mini !important;
  padding-bottom: $padding-mini !important;
}

.padding-small {
  padding-top: $padding-small !important;
  padding-bottom: $padding-small !important;
}

.padding-wide {
  padding-top: $padding-wide !important;
  padding-bottom: $padding-wide !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-top-mini {
  padding-top: $padding-mini !important;
}

.padding-top-small {
  padding-top: $padding-small !important;
}

.padding-top-wide {
  padding-top: $padding-wide !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.padding-bottom-mini {
  padding-bottom: $padding-mini !important;
}

.padding-bottom-small {
  padding-bottom: $padding-small !important;
}

.padding-bottom-wide {
  padding-bottom: $padding-wide !important;
}

.background-primary {
  background-color: $colors-background;
  border-top: 1px solid $colors-stroke;
  border-bottom: 1px solid $colors-stroke;
}

.background-warning {
  background-color: rgba($colors-warning, 0.1) !important;
  border: 1px solid $colors-warning !important;
}

.background-error {
  background-color: rgba($colors-error, 0.1) !important;
  border: 1px solid $colors-error !important;
}

.text-h1:after {
  content: '';
  display: block;
  width: 100%;
}

.v-menu>.v-overlay__content {
  border-radius: $menu-content-border-radius !important;
  border: 1px solid #A6BFAD;
  box-shadow: 0 28px 47px 0 rgba(0, 59, 28, 0.10);
}

section>.v-container:not(.no-auto-padding),
section .container-wrap>.v-container {
  padding-top: $padding-mini;
  padding-bottom: $padding-mini;
}

section>.v-container.padding-wide,
section .container-wrap>.v-container.padding-wide {
  padding-top: $padding-wide !important;
  padding-bottom: $padding-wide !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $colors-primary;
  transition: $transition-ease-out;

  &:hover {
    color: rgba($colors-primary, 0.6);
  }
}

.Toastify__toast-container {
  max-width: 800px;
}

.toast.Toastify__toast {
  padding: 15px 25px;
  margin: 12px;
  font-family: $body-font-family;
  font-weight: 500;
  font-size: 15px;
  color: $colors-font !important;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;

  .Toastify__toast-icon {
    width: 30px;
  }

  &.Toastify__toast--success {
    border-color: $colors-success !important;
  }

  &.Toastify__toast--error {
    border-color: $colors-error !important;
  }
}